<!DOCTYPE html>
<html>
  <head>
    <link href="css/main.css" rel="stylesheet"></style>
    <script src="lib/stats.min.js"></script>
    <script src="lib/three.min.js"></script>
    <script src="lib/pixi.js"></script>
    <script src="lib/jquery-2.1.0.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-sanitize.js"></script>
    <script src="app/vector.js"></script>
    <script src="app/util.js"></script>
    <script src="app/spatial-hash.js"></script>
    <script src="app/collision-system.js"></script>
    <script src="app/entities.js"></script>
    <script src="app/game-object.js"></script>
    <script src="app/ship.js"></script>
    <script src="app/bullet.js"></script>
    <script src="app/commands.js"></script>
    <script src="app/world.js"></script>
    <script src="app/game.js"></script>
    <script src="app/app.js"></script>
		<meta charset="utf-8">
  </head>
  <body onload="start()" ng-app="game">
    <div class="game-content"></div>
    <section class="card" ng-controller="CardController">
      <header>Space!!</header>
      <ul class="card-list">
        <li>Click to spawn ships</li>
        <li>Ships fire bullets at your mouse</li>
      </ul>
      <button type="button" class="btn" ng-click="randomize()">New World</button>
      <button type="button" class="btn" ng-click="dismiss()">Ok! Lets go!</button>
    </section>
  </body>
</html>
