<!DOCTYPE html>
<html>
  <head>
    <link href="css/main.css" rel="stylesheet"></style>
    <script src="app/util/polyfills.js"></script>
    <script src="lib/underscore.js"></script>
    <script data-main="app/main" src="lib/require.js"></script>
		<meta charset="utf-8">
  </head>
  <body>
    <div class="game-content"></div>
    <section class="sidebar" ng-controller="CardController">
      <header>Space!!</header>
      Click to spawn ships with the following options.

      <section class="card-section">
        <h2>AI</h2>
        <label class="radio-label"><input type="radio" name="behavior" value="ai" ng-model="behavior">State Machine</label>
        <label class="radio-label"><input type="radio" name="behavior" value="noop" ng-model="behavior">Do-Nothing</label>
        <label class="radio-label"><input type="radio" name="behavior" value="spin" ng-model="behavior">Spin</label>
        <label class="radio-label"><input type="radio" name="behavior" value="erratic" ng-model="behavior">Erratic</label>
        <label class="radio-label"><input type="radio" name="behavior" value="mouse" ng-model="behavior">Follow Mouse</label>
        <label class="radio-label"><input type="radio" name="behavior" value="flock" ng-model="behavior">Flock</label>
      </section>

      <section class="card-section">
        <h2>Color</h2>
        <ul class="color-list">
          <li ng-repeat="color in colors">
            <button type="button"
                style="background:{{color.hex}}" 
                ng-click="selectColor(color)"
                class="color-input"
                ng-class="{active: activeColor == color.raw}"></button>
          </li>
        </ul>
      </section>

      <section class="card-section">
        <h2>Rotation</h2>
        <input type="range" name="rotation" ng-model="rotation"
            min="-3.149" max="3.149" step=".01">
        {{ rotation }}
      </section>

      <section class="card-section">
        <h2>Other Actions</h2>
        <button type="button" class="btn" ng-click="randomize()">New World</button>
        <button type="button" class="btn" ng-click="dismiss()">Dismiss</button>
      </section>
    </section>
  </body>
</html>
